/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "Nanum Pen Script", sans-serif;
    font-weight: normal;

}

.centerImage
{
 text-align:center;
 display:block;
}